services:
  api:
    volumes:
    - type: bind
      source: ./librechat.yaml
      target: /app/librechat.yaml
  litellm:
    container_name: litellm
    image: ghcr.io/berriai/litellm:main-latest
    volumes:
        - ./litellm/litellm-config.yaml:/app/config.yaml
    #    - ./litellm/application_default_credentials.json:/app/application_default_credentials.json
    ports:
        - "4000:8000"
    command: [ "--config", "/app/config.yaml", "--port", "8000", "--num_workers", "8" ]