model_list:
  # https://litellm.vercel.app/docs/proxy/quick_start
 
  # MS Azure
  - model_name: azure-gpt-4-turbo-preview
    litellm_params:
      model: azure/gpt-4-turbo-preview
      api_base: https://tenant-name.openai.azure.com/
      api_key: ...
 
  - model_name: azure-gpt-3.5-turbo
    litellm_params:
      model: azure/gpt-35-turbo
      api_base: https://tenant-name.openai.azure.com/
      api_key: ...
 
  - model_name: azure-gpt-4
    litellm_params:
      model: azure/gpt-4
      api_base: https://tenant-name.openai.azure.com/
      api_key: ...
 
  - model_name: azure-gpt-4o
    litellm_params:
      model: azure/gpt-4o
      api_base: https://tenant-name.openai.azure.com/
      api_key: ...
 
  - model_name: azure-gpt-3.5-turbo-16k
    litellm_params:
      model: azure/gpt-35-turbo-16k
      api_base: https://tenant-name.openai.azure.com/
      api_key: ...
 
  - model_name: azure-gpt-4-32k
    litellm_params:
      model: azure/gpt-4-32k
      api_base: https://tenant-name.openai.azure.com/
      api_key: ...
 
 
  # OpenAI
  - model_name: gpt-4-turbo
    litellm_params:
      model: gpt-4-turbo
      api_key: ...
 
  - model_name: old-gpt-4-turbo-preview
    litellm_params:
      model: gpt-4-turbo-preview
      api_key: ...
 
  - model_name: gpt-3.5-turbo
    litellm_params:
      model: gpt-3.5-turbo
      api_key: ...
 
  - model_name: gpt-4
    litellm_params:
      model: gpt-4
      api_key: ...
 
  - model_name: gpt-4o
    litellm_params:
      model: gpt-4o
      api_key: ...
 
  - model_name: gpt-3.5-turbo-16k
    litellm_params:
      model: gpt-3.5-turbo-16k
      api_key: ...
 
  - model_name: gpt-4-32k
    litellm_params:
      model: gpt-4-32k
      api_key: ...
 
  - model_name: gpt-4-vision-preview
    litellm_params:
      model: gpt-4-vision-preview
      api_key: ...
 
 
  # Google Vertex
  # NOTE: For Google - see above about required auth "GOOGLE_APPLICATION_CREDENTIALS" environment and volume mount
  - model_name: google-chat-bison
    litellm_params:
      model: vertex_ai/chat-bison
      vertex_project: gcp-proj-name
      vertex_location: us-central1
 
  - model_name: google-chat-bison-32k
    litellm_params:
      model: vertex_ai/chat-bison-32k
      vertex_project: gcp-proj-name
      vertex_location: us-central1
 
  - model_name: google-gemini-pro-1.0
    litellm_params:
      model: vertex_ai/gemini-pro
      vertex_project: gcp-proj-name
      vertex_location: us-central1
 
   - model_name: google-gemini-pro-1.5-preview
    litellm_params:
      model: vertex_ai/gemini-1.5-pro-preview-0514
      vertex_project: gcp-proj-name
      vertex_location: us-central1
 
  - model_name: google-gemini-flash-1.5-preview
    litellm_params:
      model: vertex_ai/gemini-1.5-flash-preview-0514
      vertex_project: gcp-proj-name
      vertex_location: us-central1
 
# NOTE: It may be a good idea to comment out "success_callback", "cache", "cache_params" (both lines under) when you first start until this works!
litellm_settings:
  success_callback: ["langfuse"]
  cache: True
  cache_params:
    type: "redis"
    supported_call_types: ["acompletion", "completion", "embedding", "aembedding"]
general_settings:
  master_key: sk_live_SetToRandomValue